<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <section class="region region-footer-bottom">
                        {# Get data by json. #}
                        {{ bamboo_render_block('edg_core_gech_menu_footer') }}
                    </section>
                </div>
                <div class="col-12 col-md-4">
                <span class="footer-logo">
                    GE.CH – République et canton de Genève
                </span>
                </div>
            </div>
        </div>
    </div>
</footer>
