#!/bin/bash
#    .--.
#   |o_o |
#   |:_/ |
#  //   \ \
# (|     | )
#/'\_   _/`\
#\___)=(___/
#+-------------------------------------------+
#| Aliases file who contains all aliases and |
#| usefull tools commands for project        |
#| @author DBX <didier.beux@etat.ge.ch>      |
#| @since jeu. 16 déc. 2021 10:06:04         |
#+-------------------------------------------+
base_path=$(pwd)
if [ -d docker ]; then
  docker_path="${base_path}/docker"
else
  docker_path="${base_path}"
fi
# Load the .env library de docker
source ${docker_path}/.env
# Load the dbx_bash_tools_library functions
source ${docker_path}/scripts/dbx_bash_tools_library ${PROJECT_NAME}

# Load the .env du projet
alias start='docker-compose -p ${project_name} up -d'
alias stop='docker-compose -p ${project_name} down'
alias connectPhp='docker exec -it ${project_name}_php: /bin/sh'
alias connectApache='docker exec -it ${project_name}_apache /bin/sh'
alias connectMariaDb='docker exec -it ${project_name}_mariadb /bin/sh'
alias connectNode='docker-compose run node sh'
alias prune='docker.exe stop $(docker.exe ps -a -q);docker.exe rm $(docker.exe ps -a -q)'
alias restart='stop;start'
alias setAuth='cat ${base_path}/config/.htaccess.dist >> ${base_path}/htdocs/public/.htaccess'
alias removeAuth='git checkout ${base_path}/htdocs/public/.htaccess'
alias dumpDb='drush cr; drush sql:dump >${docker_path}/$(date +%Y-%m-%d)_local_10677-ngeo.dump'
alias initDb='drush cr; drush sql:cli <${docker_path}/10677-ngeo.dump'
alias clearX='find ../ -type f -perm 0755 \
-not -path "../.git/*" \
-and -not -path "../docker/*" \
-and -not -path "../.idea/*" \
-and -not -path "../media/*" \
-and -not -path "../vendor/bin/*" \
-and -not -path "../scripts/*" \
-exec chmod a-x {} \;'
alias setXdebug='xdebug true;restart'
alias unsetXdebug='xdebug false;restart'
alias composerInstall='cleanDrupal ${base_path}; composer install'

