{#
/**
 * @file
 * Theme overriden for the messages block.
 *
 * NGEO: add the container div element.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 */
#}
<div class="container">
    {{ content }}
</div>
