#geneve-map {
  $color-lac: #6cadc9;

  .st7,
  .st13,
  .st14,
  .st18 {
    pointer-events: none;
  }

  .st0 {
    clip-path: url(#SVGID_2_);
    enable-background: new;
  }

  .st1 {
    clip-path: url(#SVGID_4_);
    fill: $color-white;
  }

  .st2 {
    clip-path: url(#SVGID_4_);
  }

  .st3 {
    clip-path: url(#SVGID_6_);
  }

  .st4 {
    clip-path: url(#SVGID_8_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: $color-green-100;

    &:hover {
      fill: $color-green-200;
    }
  }

  .st5 {
    clip-path: url(#SVGID_8_);
    fill: none;
    stroke: $color-gray-300;
    stroke-width: .5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st6 {
    opacity: 0.5;
    clip-path: url(#SVGID_8_);
    enable-background: new;
  }

  .st7 {
    clip-path: url(#SVGID_10_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    // Cette couleur se trouve dans ngeoSvgHighlight.js
    fill: $color-green-200;
  }

  .st8 {
    clip-path: url(#SVGID_8_);
    fill: none;
    stroke: $color-gray-450;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st9 {
    clip-path: url(#SVGID_8_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #89c4dd;
  }

  .st10 {
    clip-path: url(#SVGID_8_);
    fill: none;
    stroke: $color-lac;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st11 {
    clip-path: url(#SVGID_12_);
  }

  .st12 {
    clip-path: url(#SVGID_14_);
  }

  .st13 {
    opacity: 0.5;
    clip-path: url(#SVGID_16_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: $color-white;
  }

  .st14 {
    clip-path: url(#SVGID_16_);
  }

  .st15 {
    fill: #686868;
  }

  .st16 {
    // Ne pas changer.
    font-family: 'Calibri';
  }

  .st17 {
    // Ne pas changer.
    font-size: 10px;
  }

  .st18 {
    clip-path: url(#SVGID_16_);
    fill: #686868;
  }

  .st19 {
    // Ne pas changer.
    font-size: 15px;
  }
}

.vocabulary-communes #geneve-map {
  .st4 {
    // green background of communes.
    // invisible backgroud.
    clip-path: none;
    fill: $color-green-100;
  }
  .st5 {
    // invisible backgroud.
    fill: none;
  }
  .st7 {
    // Forests.
    fill: none;
  }
  .st8 {
    fill: none;
  }
  .st13 {
    //white color of names.
    fill: none;
  }
  .st15 {
    // display names of a lot of communes.
    fill: none;
  }
  .st18 {
    // display names of Satigny, cartigny, Confignon.
    fill: none;
  }
}
