#ngeo-mobile-menu {
  background-color: $primary;
  padding: 44px 0;

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      position: relative;
      display: block;
      border-bottom: 1px solid rgba(225, 225, 225, 0.7);

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        color: $color-white;
        padding: 10px 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  header#header .item.item-menu .arrow:after {
    border-bottom-color: $primary !important;
  }
}

