header#ngeo-header {
  background-color: $color-green-300;
  color: $color-white;
  padding: 10px 0;
  margin-bottom: $subheader-mb;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;

    }
  }

  .header-bottom {
    @include font-size(12.5);
  }

  // Website title.
  .site-name {
    a.logo-link {
      @include font-size(20);
      font-weight: $font-weight-light-bold;
      display: block;
      margin-bottom: 8px;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-green-400;
      }

      @include media-breakpoint-down(md) {
        @include font-size(18);
      }
    }
  }

  // Navigation (main menu).
  #block-gech-app-main-menu {
    text-transform: uppercase;

    ul {
      padding-left: 0;
      margin-bottom: 0;

      li {
        display: inline-block;
        padding-left: 25px;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  .slogan-breadcrumb {
    & > span.fas {
      color: $color-green-400;
      padding-right: 7px;
    }
  }
}