<div class="modal fade" id="modal-filters" tabindex="-1" aria-labelledby="filtresLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="filtresLabel">
                    {{ "Filtres"|t }}
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ "Fermer"|t }}"></button>
            </div>

            <div class="modal-body">
                {# Affichage des filtres actifs #}
                {{ bamboo_render_block('facets_summary_block:search_page_facets') }}
                <div class="facets-listing">
                    {% include '@gech_app/partials/all-facets-list.html.twig' %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">{{ "Fermer"|t }}</button>
            </div>
        </div>
    </div>
</div>