<div class="form-check form-switch voie-disparue-search">
    <input class="form-check-input" type="checkbox" role="switch" id="voie-disparue-switch" checked>
    <label class="form-check-label" for="voie-disparue-switch">{{ "Afficher les voies disparues"|t }}</label>
</div>